{% extends "inmobiliaria/base2.html" %}

{% block content %}
<section id="blog">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Descripción</h2>
            <p>La mejor casa del mundo ubicada en Miramar. Posee 4 baños y 5 cuartos, con espacioso garaje para 4 carros, espacio grande para hacer fiesta, piscina.</p>
        </div>


    </section>
    <!--/#blog-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-4">

                    <p><strong>Dirección:</strong> Malecón y 90</p>
                    <p><strong>Tipo de inmueble:</strong> Casa</p>
                    <p><strong># Plantas:</strong></p>
                    <p><strong># Garaje:</strong></p>
                    <p><strong># Piso:</strong></p>
                    <p><strong># Dormitorios:</strong></p>
                    <p><strong># Baños:</strong></p>
                    <p><strong>Patio:</strong></p>
                    <p><strong>Lugar:</strong>Playa-Campo-Ciudad-Periferia</p>
                    <p><strong>Piscina:</strong></p>
                    <p><strong>Sótano:</strong></p>
                    <p><strong>Estado Físico:</strong></p>
                    <p><strong>Límites:</strong></p>
                    <p class="text-center"><strong>Precio:</strong></p>

                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <a data-scroll class="animated fadeInUpBig " href="#services">
                        <div class="service-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </a>
                    <a data-scroll class="animated fadeInUpBig " href="">
                        <div class="service-icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}

    
