{% extends "inmobiliaria/base2.html" %} {% block content %}
<section id="filter">
</section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h1 class="header-line">Bienvenido {{ user }}</h1>
            </div>
        </div>
        <div id='isDiv'>
            <h1>jajajaja</h1>>
        </div>
    </div>
</section>
<!--/#blog-->
{% endblock content %}