<div>
    <form id="main-contact-form" name="contact-form" method="post" action="#">
            <h1>holaa</h1>
        <div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Nombre de usuario" required="required">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="password" name="pass" class="form-control" placeholder="Contraseña" required="required">
                </div>
            </div>
        </div>
        <p>Si no estas registrado haz click <a href="/register">aquí</a></p>
        <button type="submit" class="btn-submit">Entrar</button>
</div>
</form>
</div>