{% extends 'inmobiliaria/base2.html' %}
{% load staticfiles %}

{% block content %}

<section>
    <div class="navbar-fixed-top">
        <div class="row wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-12 col-md-12 col-xs-12">
            <main role="main" class=" col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-xs-12" id="mapid" style=" height: 700px; width: 100%"></div>
            </main>
        </div>
    </div>
</section>

{% endblock content %}
