<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Oxygen - One Page HTML Template | Themeum</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<!--/head-->

<body>

    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->

    <header id="home">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/slider/1.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Venta de Inmuebles</h1>
                        <p class="animated fadeInRightBig">Buscas vender tu casa? Haz encontrado el lugar indicado.</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Iniciar</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/2.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Venta de Inmuebles</h1>
                        <p class="animated fadeInRightBig">Buscas vender tu casa? Haz encontrado el lugar indicado.</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Iniciar</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/3.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Venta de Inmuebles</h1>
                        <p class="animated fadeInRightBig">Buscas vender tu casa? Haz encontrado el lugar indicado.</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Iniciar</a>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

            <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

        </div>
        <!--/#home-slider-->
        <div class="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="index.html">
                        <!-- <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1> -->
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#services">Servicios</a></li>
                        <li class="scroll"><a href="#about-us">About Us</a></li>
                        <li class="scroll"><a href="#portfolio">Sugerencias</a></li>
                        <li class="scroll"><a href="#pricing">Negociar Inmueble</a></li>
                        <li class="scroll"><a href="#contact">Contacto</a></li>
                        <li class="scroll"><a href="#contact">LogIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/#main-nav-->
    </header>
    <!--/#home-->

    <section id="gestalquiler">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>Aclaración</h2>
                <p>Al enviar su solicitud, nuestro equipo enviará un perito para evaluar las condiciones del inmueble, si este es aprobado usted será contactado en menos de 12 horas para la formalizacion del contrato.</p>
            </div>
            <div class="col-xs-6 col-sm-4">
            </div>
            <div class="col-xs-6 col-sm-4">
                <form id="main-contact-form" name="contact-form" method="post" action="#">
                    <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="direccion" class="form-control" placeholder="Dirección" required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="number" name="precio" class="form-control" placeholder="Precio de alquiler CUC" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" class="form-control" rows="4" placeholder="Descripción" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-submit">Vender Inmueble</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-6 col-sm-4">

            </div>
        </div>
    </section>



    <section id="contact">
        <div id="contact-us" class="parallax">
            <div class="container">
                <div class="row">
                    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2>Contactenos</h2>
                        <p>Apreciamos mucho su opinion, por favor deje sus comentarios acerca de esta plataforma</p>
                    </div>
                </div>
                <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="row">
                        <div class="col-sm-6">
                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" placeholder="Nombre" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Dirección Email" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Asunto" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-submit">Enviar Comentario</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <p></p>
                                <ul class="address">
                                    <li><i class="fa fa-map-marker"></i> <span> Direccion:</span> San Lazaro y J Edificio Felipe Poey </li>
                                    <li><i class="fa fa-phone"></i> <span> Telefono:</span> +53 52580801 </li>
                                    <li><i class="fa fa-envelope"></i> <span> Email:</span>
                                        <a href="mailto:s.martin@estudiantes.matcom.uh.cu"> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#contact-->
    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="container text-center">

                <div class="social-icons">
                    <ul>
                        <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">

        </div>
    </footer>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/mousescroll.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>